@mixin text($font-weight, $font-size, $color) {
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color;
}

.filterWrapper {
    width: 40%;
    height: 47px;
    border-radius: 26px;
    border: 1px solid #bdbdbd;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;

    @media (max-width: 420px) {
        width: 100%;
    }
}

.filterIcon {
    width: 20px;
    height: 20px;
}

.filterText {
    @include text(550, 13px, #2C2823);
}
