.authenticatedUserButton {
    width: 87px;
    height: 43px;
    border-radius: 26px;
    border: 1px solid #bdbdbd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px 0 14px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.icon {
    width: 18px;
    height: 18px;
}

.icon:first-of-type {
    width: 18px; 
    height: 18px;
}

.userImage {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}