@mixin text ($font-weight, $font-size, $color) {
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color;
}

.wrapper {
    width: 1135px;
    margin: 600px auto 0 auto;
}

.footerTitle {
    @include text (650, 20px , #000);
}

.wrapperButtons {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #6F6558;
    gap: 30px;
    margin-top: 25px;
}

.tabButton {
    padding-bottom: 3px;
    cursor: pointer;
    @include text (500, 15px , #000);
}

.active {
   font-weight: 600;
}

.tabContent {
    padding-top: 36px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 60px;
    row-gap: 26px;
}

.tabItem {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.tabItemTitle {
    @include text(400, 15px, #2C2823);
}

.tabItemSubtitle {
    @include text(400, 12px, #000);
}

.supportWrapper {
    border-top: 1px solid #6F6558;
    border-bottom: 1px solid #6F6558;
    padding-top: 52px;
    padding-bottom: 61px;
    display: flex;
    gap: 150px;
}

.supportTitle,
.hostTitle,
.homeFuTitle {
    @include text (500, 15px , #000);
    margin-bottom: 12px;
}

.supportList,
.hostList,
.homeFuList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.supportListItem,
.hostListItem,
.homeFuListItem {
    @include text(400, 12px, #000);
}

.footerBottomBlock {
    padding-top: 26px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerInfo {
    display: flex;
    align-items: center;
    gap: 32px;
}

.footerText {
    @include text(400, 12px, #000);
}

.footerLinks {
    display: flex;
    align-items: center;
    gap: 25px;
}

.footerLinksItem {
    @include text(400, 12px, #000);
    text-decoration: underline;
}

.footerActions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.languageButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    @include text(400, 14px, #000);
}

.currencyButton {
    cursor: pointer;
    @include text(400, 14px, #000);
}

.socialLinks {
    display: flex;
    align-items: center;
    gap: 22px;
}