@keyframes loading {
    from {background-color: #f6f6f6;}
    to {background-color: #e1e1e1;}
}

.filterWrapperLoading {
    display: flex;
    align-items: center;
    gap: 35px;
}

.wrapperLoading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.circle {
    animation-name: loading;
    animation-duration: 2s;
    width: 30px;
    height: 30px;
    background: #f6f6f6;
    border-radius: 50%;
}

.bottomBlock {
    animation-name: loading;
    animation-duration: 2s;
    width: 80px;
    height: 10px;
    background: #f6f6f6;
    border-radius: 15px;
}

.filterBarWrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 695px;
    min-width: 695px;

    @media (max-width:1024px) {
        width: 100%;
        overflow: hidden;
        min-width: unset;
    }
}

.filterBar {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    width: 99%;
    gap: 38px;
    overflow-y: hidden;

    @media (max-width:768px) {
        gap: 25px;
    }
}

.filterBar::-webkit-scrollbar {
    display: none; 
}

.filterItem {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6px;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 0;
        height: 2px;
        background: #716c69;
        transition: 0.3s;
    }

    &:hover::after {
        width: 100%;
        transition: 0.3s;
    }
}

.activeItem::after {
    width: 100%;
    background: #211E1A;
}

.filterItemimg {
    height: 20px;
    width: 20px;
    margin-bottom: 5px;
}

.scrollButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: rgb(16 153 255 / 11%);
    border-radius: 999px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2;

    svg {
        width: 20px;
        height: 20px;

        path {
            stroke: rgb(52, 104, 194);;
        }
    }

    @media (max-width:1024px) {
        display: none;
    }
}

.leftButton {
    left: 0;
}

.rightButton {
    right: 0;
}
