@mixin text($font-weight, $font-size, $color) {
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color;
}

@keyframes loading {
    from {background-color: #f6f6f6;}
    to {background-color: #e1e1e1;}
}

.swiperMy {
    border-radius: 16px;
}

.swiperMy :global(.swiper-button-prev),
.swiperMy :global(.swiper-button-next) {
    position: absolute;
    top: 58%;
    transform: translateY(-58%);
    background: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    color: #000;
}

.swiperMy :global(.swiper-button-prev)::after,
.swiperMy :global(.swiper-button-next)::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
    font-size: 15px;
    color: rgb(52, 104, 194);
}

.swiperMy :global(.swiper-pagination-bullet) {
    width: 7px;
    height: 7px; 
    background: rgb(52, 104, 194);; 
    opacity: 0.5;
}

.swiperMy :global(.swiper-pagination-bullet-active) {
    border: 1px solid white;
    width: 9px;
    height: 9px;
    background: rgb(48, 107, 210);; 
    opacity: 1;
}


main {
    font-family: "Inknut Antiqua", serif;
   position: relative;
   top: 340px;
}

img {
    height: 100%;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.cardItemWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.cardItem {
    width: 272px;
    height: auto;
}

.cardItemImage {
    height: 300px;
    border-radius: 16px;
}

.wrapperLocationRating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cardItemLocationName {
    @include text(500, 16px, black);
}

.cardItemRating {
    @include text(400, 15px, black);
}

.cardItemPrice {
    display: inline-block;
    @include text(400, 15px, black);
    margin-top: 15px;
}
// .categoryBar {
//     display: flex;
//     align-items: center;
//     justify-content: end;
//     gap: 13px;
//     padding-top: 33px;

//     @media (max-width:1024px) {
//        flex-direction: column;
//        align-items: flex-start;
//     }

//     @media (max-width:768px) {
//         gap: 20px;
//     }
// }

.filterBar {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    bottom: 52px;
    right: 22%;
}

// loading

.cardItemWrapperLoading {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.cardItemLoading {
    width: 272px;
    height: auto;
}

.cardItemImgWrapperLoading {
    animation-name: loading;
    animation-duration: 2s;
    border-radius: 16px;
    background: #f6f6f6;
    height: 256px;
}

.wrapperLocationRatingLoadind {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 6px;
}

.cardItemLocationNameLoadind {
    animation-name: loading;
    animation-duration: 2s;
    background: #f6f6f6;
    width: 79px;
    height: 13px;
    border-radius: 10px;
}

.cardItemRatingLoading {
    animation-name: loading;
    animation-duration: 2s;
    background: #f6f6f6;
    width: 50px;
    height: 13px;
    border-radius: 10px;
}

.cardItemDate {
    display: flex;
    align-items: center;
    gap: 6px;

    .date {
        background: #f6f6f6;
        animation-name: loading;
        animation-duration: 2s;
        width: 79px;
        height: 13px;
        border-radius: 10px;
    }
}

.cardItemPriceLoading {
    animation-name: loading;
    animation-duration: 2s;
    display: inline-block;
    background: #f6f6f6;
    width: 79px;
    height: 13px;
    border-radius: 10px;
    margin-top: 6px;
}