main {
   font-family: "Inknut Antiqua", serif;
   position: relative;
   top: 340px;

   @media (max-width:1020px) {
    top: 375px;
   }

   @media (max-width:768px) {
    top: 20px;
   }
}

img {
    height: 100%;
    width: 100%;
}

.filterBar {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    bottom: 52px;
    right: 22%;
}