@mixin text($font-weight, $font-size, $color) {
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color;
}

main {
   font-family: 'Helvetica Neue', Arial, sans-serif;
   position: relative;
   top: 350px;
}

img {
    height: 100%;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.cardItemWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.cardItem {
    width: 272px;
    height: 256px;
}

.cardItemImgWrapper {
    height: 256px;

    img {
        border-radius: 16px;
    }
}

.wrapperLocationRating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cardItemLocationName {
    @include text(500, 16px, black);
}

.cardItemRating {
    @include text(400, 15px, black);
}

.cardItemPrice {
    display: inline-block;
    @include text(400, 15px, black);
    margin-top: 15px;
}
// .categoryBar {
//     display: flex;
//     align-items: center;
//     justify-content: end;
//     gap: 13px;
//     padding-top: 33px;

//     @media (max-width:1024px) {
//        flex-direction: column;
//        align-items: flex-start;
//     }

//     @media (max-width:768px) {
//         gap: 20px;
//     }
// }

.filterBar {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    bottom: 52px;
    right: 22%;
}

// .wrapperFilterSumButton {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     gap: 5px;

//     @media (max-width:1024px) {
//        justify-content: space-between;
//     }
// }

// .divider {
//     border-bottom: 1px solid #e5e7eb;
// }