.ownerMainBlock {
    position: relative;
    top: 130px;
    padding-bottom: 40px;
}

.cardForm {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f0f6ff;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
  
    label,
    span {
      font-weight: 600;
      margin-bottom: 0.5rem;
      color: #003366;
    }
  
    input {
      padding: 0.7rem 1rem;
      border: 1px solid #ccd6e0;
      border-radius: 8px;
      font-size: 1rem;
      transition: border-color 0.3s ease;
  
      &:focus {
        border-color: #007bff;
        outline: none;
      }
    }
  
    input[type='file'] {
      padding: 0.4rem;
      background-color: #ffffff;
    }
  }
  
  .submitButton {
    margin-top: 1.5rem;
    padding: 0.8rem 1.6rem;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-start;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #0056b3;
    }
  }
  
.amenitiesWrapper,
.categoryWrapper {
  margin-top: 10px;
  display: flex;
  align-items: center; 
  gap: 15px;
  flex-wrap: wrap;
}

.customCheckbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  padding-left: 28px;
  user-select: none;
  color: #333;
  font-weight: 500;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
    width: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all 0.2s ease;
  }

  input:checked ~ .checkmark {
    background-color: rgb(52, 104, 194);;
    border-color: rgb(52, 104, 194);;
  }

  .checkmark::after {
    content: "";
    position: absolute;
    display: none;
  }

  input:checked ~ .checkmark::after {
    display: block;
  }

  .checkmark::after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
