@mixin text ($font-weight, $font-size, $color) {
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color
}

.wrapperRegionBlock {
    box-shadow: 1px 1px 18px 0 rgba(0, 0, 0, 0.20);
    position: absolute;
    left: 0;
    top: 70px;
    width: 400px;
    height: 353px;
    padding: 40px 38px;
    border-radius: 26px;
    background-color: #fff;
    z-index: 3;

    @media (max-width:768px) {
        width: 85%;
        padding: 24px;
        height: auto;
    }
}

.title {
    @include text(700, 14px, #211E1A);
    margin-bottom: 26px;
}

.regionType {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 25px;
}

.typeRegion {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    transition: .3s;

    img {
        width: 120px;
        height: 125px;
    }

    span {
        @include text(500, 12px, #8A8278);
    }

    &:hover {
        transform: scale(1.03);
        transition: .3s;
    }
}

