@mixin text ($font-weight, $font-size, $color) {
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color
}

.filterWrapper {
    display: flex;
    align-items: center;
    width: 680px;
    height: 51px;
    padding: 5px 32px;
    border: 1px solid #bdbdbd;
    border-radius: 9999px;
    position: relative;
    margin-right: 80px;
    box-shadow: 1px 1px 18px 0 rgba(0, 0, 0, 0.20);

    @media (max-width:1024px) {
        flex-direction: column;
        gap: 20px;
        width: 92%;
        height: 300px;
        border-radius: 50px;
        margin-right: unset;
        padding: 28px;
        box-shadow: unset;
        margin-bottom: 30px;
    }
    @media (max-width:768px) {
        width: 82%;
    }
}

.inputSection {
    cursor: pointer;

    &:last-of-type {
        border-right: none;
    }

    &:nth-of-type(1) {
        width: 212px;
    }
    
    &:nth-of-type(3) {
        width: 130px;
    }
    
    &:nth-of-type(4) {
        width: 175px;
    }

}

.inputLabel {
    @include text(500, 12px, #211E1A)
}

.input {
    width: 100%;
    outline: none;
    background: none;
    border: none;
    padding: 5px 0 0 0;

    &::placeholder {
        @include text(500, 12px, #8A8278);
    }
}

.searchButton {
    cursor: pointer;
    position: absolute;
    right: 10px;
    min-width: 50px;
    padding: 0 15px 0 15px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: rgb(52, 104, 194);;
    border-radius: 9999px;
    transition: 0.3s;

    &:hover {
        background-color: rgb(75, 122, 204);
        transition: 0.3s;
    } 

    @media (max-width:1024px) {
        bottom: 20px;
        left: 0;
        width: 100%;
        position: relative;
        top: 10px;
    }
}

.search {
    @include text(500, 14px, #fff);
}