@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding:  0 15px;
}

#root {
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
}