.mapButton {
  transition: opacity 0.09s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 182px;
    height: 60px;
    border-radius: 26px;
    background-color: rgb(52, 104, 194);;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    .icon {
      width: 20px;
      height: 20px;
  
    }
  
    &:hover {
      background-color: rgb(75, 122, 204);
      transition: 0.3s;
    } 
    
    @media (max-width:1024px) {
      width: 100%;
      display: none;
    }
  }

  .hidden {
    opacity: 0;
}

.visible {
  opacity: 1;
}
