@mixin text ($font-weight, $font-size, $color) {
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color
}

.logIn {
    display: flex;
    justify-content: start;
    @include text(500, 20px, #211E1A);
    cursor: pointer;
    padding-top: 40px;
}