.main{
    padding-top: 35px;

    @media (max-width:1024px) {
        padding-top: 0;
    }
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.categoryBar {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 13px;
    padding-top: 33px;
    
    @media (max-width:1024px) {
       flex-direction: column;
       align-items: flex-start;
    }
}

.filterBar {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    bottom: 52px;
    right: 22%;
}

.wrapperFilterSumButton {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;

    @media (max-width:1024px) {
       justify-content: space-between;
    }
}

.divider {
    border-bottom: 1px solid #e5e7eb;
}