.container {
    margin: 0 auto;
    max-width: 1200px;
}

.main{
    padding-top: 35px;
}

.categoryBar {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 13px;
    padding-top: 33px;
}

.filterBar {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    bottom: 52px;
    right: 22%;
}

.divider {
    border-bottom: 1px solid #e5e7eb;
}