.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.hiddenItem {
  display: none;
}

.cardItemWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  @media (max-width:1020px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
  }
}

.cardItem {
  position: relative;
  width: 272px;
  height: auto;

  @media (max-width:1020px) {
    width: 100%;
  }
}

.restoreBlock {
  width: 100%;
  opacity: 0.3;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  border-radius: 16px;
  background: lightgray;
  height: 101%;

  &::before {
    content: 'Бажаєте відновити?';
    position: absolute;
    font-size: 25px;
    text-wrap: nowrap;
    font-weight: 600;
    z-index: 10;
    top: 50%;
    left: 50%;
    color: rgb(52, 104, 194);
    transform: translate(-50%, -50%);
  }
}

.cardItemImage {
  min-width: 100%;
  width: auto;
  object-fit: cover;
  height: 300px;
  border-radius: 16px;
}

.wrapperLocationRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.cardItemLocationName {
  font-weight: 500;
  font-size: 16px;
  color: black;
}

.cardItemRating {
  font-weight: 400;
  font-size: 15px;
  color: black;
}

.cardItemPrice {
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  color: black;
  margin-top: 15px;
}

.swiperMy {
  border-radius: 16px;
}

.swiperMy :global(.swiper-button-prev),
.swiperMy :global(.swiper-button-next) {
  position: absolute;
  top: 58%;
  transform: translateY(-58%);
  background: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  color: #000;
}

.swiperMy :global(.swiper-button-prev)::after,
.swiperMy :global(.swiper-button-next)::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  font-size: 15px;
  color: rgb(52, 104, 194);
}

.swiperMy :global(.swiper-pagination-bullet) {
  width: 7px;
  height: 7px; 
  background: rgb(52, 104, 194);; 
  opacity: 0.5;
}

.swiperMy :global(.swiper-pagination-bullet-active) {
  border: 1px solid white;
  width: 9px;
  height: 9px;
  background: rgb(48, 107, 210);; 
  opacity: 1;
}