.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    opacity: 0; 
    pointer-events: none; 
    z-index: 4;
    background: rgb(72 72 72 / 22%);
    transition: opacity 0.5s ease, pointer-events 0s 0.5s; 

    @media (max-width:768px) {
        display: block;
    }
}

.overlay.open {
    opacity: 1;
    transition: opacity 0.5s ease, pointer-events 0s 0.5s; 
    pointer-events: auto;
}