
.logOut {
    height: 40px;
    border: 1px solid #bdbdbd;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 8px;
    color: black;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        transition: .3s;
        background: rgb(167 197 248 / 17%);
    }
}